table {
  width: 100%;
  background-color: skyblue;
  border-collapse: collapse;
  margin-top: -8px;
}
table,th {
  border: 4px solid black;
}
tr {
  font-size: 35px;
  color: indigo;
  font-family: monospace;
}
#logo {
  font-size: 55px;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}
a {
  text-decoration:none;
  color:indigo;
}
a:hover {
  text-decoration:none;
  color:crimson;
}
